{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reservation/css/reservation.css' %}">
{% endblock %}

{% block content %}
<div class="header-container" id="reservation">
    {% include 'components/navigation/navbar.html' %}
    <div class="hero-text">
        <h1>Reservation</h1>
        <p>Book your room now at Casa Pedra Nobre and start planning your trip!</p>
    </div>
</div>

<div class="container">
    <h1 class="mt-2 ml-2">Reservation Detail</h1>
    <form method="POST" action="#" class="row">
        {% csrf_token %}
        <div class="col-12 mt-4">
            <label for="check_in">Check-In:</label>
            <input type="date" name="check_in" value="{{ check_in }}" disabled>
        </div>
        <div class="col-12 mt-4">
            <label for="check_out">Check-Out:</label>
            <input type="date" name="check_out" value="{{ check_out }}" disabled>
        </div>
        <div class="col-12 mt-4 mb-4">
            <a href="{% url 'reservation'%}">Search again</a>
        </div>
    </form> 
</div>

<div class="container"> 
    <form method="POST" action="{% url 'reservation_detail' %}" class="row justify-content-end" id="room-selection">
        {% csrf_token %}
        <div class="col-12 col-md-5 col-lg-4">
            <button type="submit" class="button submit-rooms">Procceed to secure check out</button>
        </div>
        <div class="col-12">
            <h2 class="heading mb-4 col-12">Available Rooms</h2>
        </div>
        {% for room in available_rooms %}
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div id="{{ room.id }}" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in room.images.all %}
                                <div class="carousel-item {% if image.main_image == True %} active {% endif %}">
                                    <img class="d-block" src="{{ image.image.url }}" alt="room-image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 room-description">
                    <h2 class="heading">{{room}}</h2>
                    <p>
                        {{ room.description }}
                    </p>
                    <p>
                        Price per night, based on 2 guests: €{{ room.price}}
                    </p>
                </div>
            </div>
        </div>
        <div class="hr"></div> 
        {% endfor %}
    </form>
    {% if unavailable_rooms %}
        <div class="row">
            <div class="col-12">
                <h2 class="heading mb-4 mt-4">Unavailable Rooms</h2>
            </div>
            {% for room in unavailable_rooms %}
            <div class="col-12">
                <div class="row room-display">
                    <div class="col-12 col-md-4">
                        <div id="{{ room.id }}" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in room.images.all %}
                                    <div class="carousel-item {% if image.main_image == True %} active {% endif %}">
                                        <img class="d-block" src="{{ image.image.url }}" alt="room-image">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 room-description">
                        <h2 class="heading">{{room}}</h2>
                        <p>
                            {{ room.description }}
                        </p>
                        <p>
                            Price per night, based on 2 guests: €{{ room.price}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="hr"></div> 
            {% endfor %}
        </div>
    {% endif %}
</div>

{% include 'components/social-media/social-media.html' %}

{% include 'components/footer/footer.html' %}
{% endblock %}
