{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'reservation/css/reservation.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navigation/navbar.html' %}

<div class="container">
    <h2 class="heading mt-4">Prices and availability</h2>
    <form method="POST" action="#" class="row">
        {% csrf_token %}
        <div class="col-12 mt-4">
            <label for="check_in">Check-In:</label>
            <input type="date" name="check_in" value="{{ check_in }}" disabled>
        </div>
        <div class="col-12 mt-4">
            <label for="check_out">Check-Out:</label>
            <input type="date" name="check_out" value="{{ check_out }}" disabled>
        </div>
        <div class="col-12 mt-4 mb-4">
            <a href="{% url 'reservation'%}" class="button">Search again</a>
        </div>
    </form> 
    <div class="hr" id="search-rooms-division"></div>
</div>



<div class="container rooms"> 
    {% if available_rooms %}
    <form method="POST" action="{% url 'reservation_detail' %}" class="row justify-content-end" id="room-selection">
        {% csrf_token %}
        <div class="col-12 col-md-5 col-lg-4">
            <button type="submit" class="button submit-rooms">Procceed to secure check out</button>
        </div>
        <div class="col-12">
            <h2 class="heading mb-2 col-12">Available Rooms</h2>
            <span class="d-block mb-4"> All our prices are including breakfast, parking onsite and free wifi.</span>
        </div>
        {% for room in available_rooms %}
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div id="{{ room.id }}" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in room.images.all %}
                                <div class="carousel-item {% if image.main_image == True %} active {% endif %}">
                                    <img class="d-block" src="{{ image.image.url }}" alt="room-image">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 room-description">
                    <h2 class="heading mb-2"><a href="#a{{ room.id }}" data-toggle="modal" data-target="#a{{ room.id }}">{{ room }}</a></h2> 
                    <p>
                        {{ room.intro }}
                    </p>
                    <div class="row"> 
                        <div class="col-12 col-md-5 offset-md-7 price">
                            {% if number_of_nights == 1 %}
                            <span>Price for {{number_of_nights}} night: €{% widthratio number_of_nights 1 room.price %} incl. VAT</span>
                            {% else %}
                            <span>Price for {{number_of_nights}} nights: €{% widthratio number_of_nights 1 room.price %} incl. VAT </span> 
                            {% endif %}
                        </div>
                        <div class="col-12 col-md-5 offset-md-7 select-rooms">
                            <label for="number_of_guests">Number of guests:</label>
                            <input type="number" min="1" max="{{room.max_number_of_guests}}" name="number_of_guests" value="2">
                        </div>
                        <div class="col-12 col-md-6 offset-md-6 select-rooms">
                            <label for="select-room">Select this room</label>
                            <input type="checkbox" name="select-room" value="{{ room.id }}">
                        </div>  
                        <input type="hidden" name="room_id" value="{{room.id}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="hr"></div> 
        <!-- Modal Room Detail -->


        <div class="modal" id="a{{ room.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title heading">{{ room }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ room.description }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary button" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>

        {% endfor %}
        <div class="col-12 col-md-5 col-lg-4 mt-4">
            <button type="submit" class="button submit-rooms">Procceed to secure check out</button>
        </div>
    </form>
    <div class="row text-muted">
        {% if unavailable_rooms %}
            <div class="col-12">
                <h2 class="heading mb-4 mt-4">Unavailable Rooms</h2>
            </div>
            {% for room in unavailable_rooms %}
                <div class="col-12">
                    <div class="row room-display">
                        <div class="col-12 col-md-4">
                            <div id="{{ room.id }}" class="carousel slide carousel-fade" data-ride="carousel">
                                <div class="carousel-inner">
                                    {% for image in room.images.all %}
                                        <div class="carousel-item {% if image.main_image == True %} active {% endif %}">
                                            <img class="d-block" src="{{ image.image.url }}" alt="room-image">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 room-description">
                            <h2 class="heading">{{room}}</h2>
                            <p>
                                {{ room.intro }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hr"></div> 
            {% endfor %}
        {% endif %}
    </div>
    {% else %}
        <div class="row">
            <div class="col-12" id="sold-out">
                <h2 class="heading mb-2 col-12">Sold out</h2>
                <span class="d-block">Looks like we are sold out for these data...</span>
                <span class="d-block mb-4">Change your dates to check availability.</span>
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-12">
                <h2 class="heading mb-4 mt-4">Unavailable Rooms</h2>
            </div>
            {% for room in unavailable_rooms %}
            <div class="col-12">
                <div class="row room-display">
                    <div class="col-12 col-md-4">
                        <div id="{{ room.id }}" class="carousel slide carousel-fade" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in room.images.all %}
                                    <div class="carousel-item {% if image.main_image == True %} active {% endif %}">
                                        <img class="d-block" src="{{ image.image.url }}" alt="room-image">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 room-description">
                        <h2 class="heading">{{room}}</h2>
                        <p>
                            {{ room.intro }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="hr"></div> 
            {% endfor %}
        </div>
    {% endif %}
</div>





{% include 'components/social-media/social-media.html' %}

{% include 'components/footer/footer.html' %}
{% endblock %}


    
