{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header-container">
    {% include 'components/navigation/navbar.html' %}
    <div class="hero-text">
        <h1>Casa Pedra Nobre</h1>
        <p>Guesthouse at the Silver Coast in Portugal</p>
        <a class="button" href="#">Book now!</a>
    </div>
</div>


<div class="container-fluid carousel-container">
    <div class="row">
        <div id="intro-carousel" class="carousel slide carousel-fade col-12" data-bs-ride="carousel">
            <div class="container">
                <ol class="carousel-indicators">
                    <li data-bs-target="#intro-carousel" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#intro-carousel" data-bs-slide-to="1"></li>
                    <li data-bs-target="#intro-carousel" data-bs-slide-to="2"></li>
                    <li data-bs-target="#intro-carousel" data-bs-slide-to="3"></li>
                    <li data-bs-target="#intro-carousel" data-bs-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    {% for item in page_intros %}
                    <div class="carousel-item {% if item.display_order == 1 %} active {% endif %}">
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-6 d-flex align-items-center">
                                    <img src="{{ item.image.url }}" class="d-block" alt="">    
                                </div>
                                <div class="col-lg-6">
                                    <div class="card-body">
                                        <h2 class="card-title heading">{{ item }}</h2>
                                        <p class="card-text">
                                            {{ item.description }}
                                        </p>
                                        {% if item.url_name %}
                                        <a href="#" class="button card-button">See more...</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <a class="carousel-control-prev" href="#intro-carousel" role="button" data-bs-slide="prev">
                <span class="visually-hidden"><i class="fas fa-arrow-circle-left"></i></span>
            </a>
            <a class="carousel-control-next" href="#intro-carousel" role="button" data-bs-slide="next">
                <span class="visually-hidden"><i class="fas fa-arrow-circle-right"></i></span>
            </a>
        </div>
    </div>
</div>


<div class="container-fluid social-container">
    <div class="row">
        <div class="col-12 social-body">
            <h4>Follow us on social media and stay up to date with the lastest news!</h4>
            <h5>And don't forget to have a look on Tripadvidor what other guests have to say...</h5>
            <p class="social-links">
                <a href="https://www.facebook.com/casapedranobre" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/casa.pedra.nobre/" target="_blank" rel="noopener"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.tripadvisor.com/Hotel_Review-g663836-d8537027-Reviews-Casa_Pedra_Nobre_B_B-Caldas_da_Rainha_Leiria_District_Central_Portugal.html" target="_blank" rel="noopener"><i class="fab fa-tripadvisor"></i></a>
            </p>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            $('.carousel').each(function(){
                $(this).carousel({
                    interval: false
                });
            });
        });
    </script>
{% endblock %}