{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gallery/css/gallery.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
{% endblock %}

{% block content %}
<!-- Hero image + title including links to propery images and surroundings -->
<div class="header-container" id="gallery">
    {% include 'components/navigation/navbar.html' %}
    <div class="hero-text">
        <h1>Gallery</h1>
        <a class="button" href="#casapedranobre" aria-label="Link to property images">Casa Pedra Nobre</a>
        <a class="button" href="#surroundings" aria-label="Link to Surroundings images">Surroundings</a>
    </div>
</div>

<!-- Images of Casa Pedra Nobre itself -->
<div class="photo-gallery" id="casapedranobre">
    <div class="container">
        <div class="intro">
            <h2 class="sub-heading">Casa Pedra Nobre</h2>
        </div>
        <div class="row photos">
            {% for photo in images_cpn %}
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{ photo.image.url }}" data-lightbox="photos_cpn" aria-label="Open larger image"><img class="img-fluid" src="{{ photo.image.url }}" alt="{{photo.image.url}}"></a></div>
            {% endfor %}
        </div>
    </div>
</div> 

<!-- Images of the surroundings of Casa Pedra Nobre -->
<div class="photo-gallery" id="surroundings">
    <div class="container">
        <div class="intro">
            <h2 class="sub-heading mt-4">Surroundings</h2>
        </div>
        <div class="row photos">
            {% for photo in images_surroundings %}
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{{ photo.image.url }}" data-lightbox="photos_surroundings" aria-label="Open larger image"><img class="img-fluid" src="{{ photo.image.url }}" alt="{{photo.image.url}}"></a></div>
            {% endfor %}
        </div>
    </div>
</div> 


{% include 'components/social-media/social-media.html' %}

{% include 'components/footer/footer.html' %}

{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <!-- Lightbox Gallery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
{% endblock %}