{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

{% include 'components/navigation/navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="heading">Reservations</h1>
            <form method="GET" action="#">
                <input class="contact-form-fields" type="text" name="q" placeholder="Search reservations">   
                <button class="button" type="submit">
                    <span class="icon"><i class="fas fa-search"></i></span>
                </button>
            </form>
        </div>
        <div class="col-12">
            <h2 class="sub-heading">Arriving today:</h2>
            {% if arrivals_today %}
                {% for reservation in arrivals_today %}
                    <p>
                        {{ reservation.full_name }}
                        {% for item in reservation.lineitems.all %}
                            <a href="{% url 'reservation_confirmation' reservation %}">
                                <span class="d-block ml-4">{{ item.room }} (Guests: {{ item.number_of_guests }} ) : {{item.check_in }} - {{ item.check_out }}</span>
                            </a>
                        {% endfor %}
                    </p>
                {% endfor %}
            {% else %}
                <p>No arrivals today</p>
            {% endif %}
        </div>
        <div class="col-12">
            <h2 class="sub-heading">Departing today:</h2>
            {% if departures %}
                {% for reservation in departures %}
                    <p>
                        {{ reservation.full_name }}
                        {% for item in reservation.lineitems.all %}
                            <a href="{% url 'reservation_confirmation' reservation %}">
                                <span class="d-block ml-4">{{ item.room }} (Guests: {{ item.number_of_guests }} ) : {{item.check_in }} - {{ item.check_out }}</span>
                            </a>
                        {% endfor %}
                    </p>
                {% endfor %}
            {% else %}
                <p>No departures today</p>
            {% endif %}
        </div>
        <div class="col-12">
            <h2 class="sub-heading">In House:</h2>
            {% if inhouse_guests %}
                {% for reservation in inhouse_guests %}
                    <p>
                        {{ reservation.full_name }}
                        {% for item in reservation.lineitems.all %}
                            <a href="{% url 'reservation_confirmation' reservation %}">
                                <span class="d-block ml-4">{{ item.room }} (Guests: {{ item.number_of_guests }} ) : {{item.check_in }} - {{ item.check_out }}</span>
                            </a>                        
                        {% endfor %}
                    </p>
                {% endfor %}
            {% else %}
                <p>No inhouse guests at the moment</p>
            {% endif %}
        </div>
        <div class="col-12">
            <h2 class="sub-heading">Arrivals next 7 days:</h2>
            {% if arrivals_next %}
                {% for reservation in arrivals_next %}
                    <p>
                        {{ reservation.full_name }}
                        {% for item in reservation.lineitems.all %}
                            <a href="{% url 'reservation_confirmation' reservation %}">
                                <span class="d-block ml-4">{{ item.room }} (Guests: {{ item.number_of_guests }} ) : {{item.check_in }} - {{ item.check_out }}</span>
                            </a>                        
                        {% endfor %}
                    </p>
                {% endfor %}
            {% else %}
                <p>No arrivals in the next 7 days</p>
            {% endif %}
        </div>
        <div class="col-12">
            <h2 class="sub-heading">All reservations:</h2>
            {% for reservation in reservations %}
                <p>
                    {{ reservation.full_name }}
                    {% for item in reservation.lineitems.all %}
                        <a href="{% url 'reservation_confirmation' reservation %}">
                            <span class="d-block ml-4">{{ item.room }} (Guests: {{ item.number_of_guests }} ) : {{item.check_in }} - {{ item.check_out }}</span>
                        </a>                        
                    {% endfor %}
                </p>
            {% endfor %}
        </div>
    </div>
</div>





{% include 'components/social-media/social-media.html' %}
{% include 'components/footer/footer.html' %}
{% endblock %}
