<footer>
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-12 col-md-4 footer-paragraph">
                <p>
                    <span class="d-block" >Rua do Nobre 5a</span>
                    <span class="d-block">2500-593 Nadadouro</span>
                    <span class="d-block">Caldas da Rainha</span>
                    <span class="d-block"> Portugal</span>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <a  href="#">
                    <img src="{{ MEDIA_URL}}logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="col-12 col-md-4 footer-paragraph">
                <p class="contact-details">
                    <a href="mailto:info@casapedranobre.pt" id="mailto" aria-label="Email us">info@casapedranobre.pt </a>
                    <span class="d-block">+351 910 959 674</span>
                    <span class="d-block">+351 262 841 025</span>
                    <a href="https://wa.me/351910959674" target="_blank" rel="noopener">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="mailto:info@casapedranobre.pt" target="_blank">
                        <i class="far fa-envelope" aria-hidden="true"></i>           
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>