{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tourist_info/css/tourist_info.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navigation/navbar.html' %}

<!-- Add Recommendation page for admin -->

<div class="container" >
    <div class="row">
        <h1 class="col-12 col-md-8 offset-md-2 text-center" id="add-recommendation-title">Add Recommendation</h1>
        <form method="POST" action="{% url 'add_recommendation' %}" class="col-12 col-md-8 offset-md-2" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
            <button type="submit" class="button mt-4 mb-4">Add Recommendation</button>
            <a href="{% url 'tourist_info' %}" class="button mt-4 mb-4">Cancel</a>
        </form>
    </div>
</div>

{% include 'components/footer/footer.html' %}
{% endblock %}


{% block postloadjs %}
    {{ block.super }}
    <!-- When image is selected, display name of image -->
    
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to ${file.name}`);
        });
    </script>
{% endblock %}