{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'tourist_info/css/tourist_info.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navigation/navbar.html' %}

<!-- Page that displays detailed information about recommendation -->

<div class="container" >
    <div class="row">
        <div class="col-12" id="update-recommendation">
            {% if request.user.is_superuser %}
                <a href="{% url 'edit_recommendation' recommendation.id %}" class="button"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete_recommendation' recommendation.id %}" class="button"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
        </div>
        <div class="col-12" id="view-recommendations">
            <a href="{% url 'tourist_info' %}" class="button"> View all recommendations</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'profile' %}" class="button">Go to your favorites</a>
            {% endif %}
        </div>
        <div class="col-12" id="recommendation-intro">
            <h2 class="heading" >{{ recommendation }}</h2>
            {% if request.user.is_authenticated %}
                {% if is_favorite %}
                    <a href="{% url 'add_to_favorites' recommendation.id %}" data-toggle="tooltip" title="Remove from favorites!"><i class="fas fa-heart"></i></a>
                {% else %}
                    <a href="{% url 'add_to_favorites' recommendation.id %}" data-toggle="tooltip" title="Add to favorites!"><i class="far fa-heart"></i></a>
                {% endif %}
            {% else %}
                <a href="#loginmodal" data-toggle="modal" data-target="#loginmodal"><i class="far fa-heart"></i></a>
            {% endif %}
            <p>{{ recommendation.intro }}</p>
        </div>
        <div class="col-12 col-md-6" >
            <img src="{{ recommendation.image.url }}" alt="recommendation-image" id="recommendation-image">
        </div>
        <div class="col-12 col-md-6" id="additional-info">
            <p>{{ recommendation.description }}</p>
            <p>Distance from Casa Pedra Nobre: {{ recommendation.distance }}km</p>
            <a href="{{ recommendation.link_to_website }}" target="_blank" class="button recommendation-buttons" rel="noopener">Visit the website</a>
            <a href="{{ recommendation.link_to_google_maps }}" target="_blank" class="button recommendation-buttons" rel="noopener">View route on Google Maps</a>
        </div>
    </div>
</div>

<!-- Modal that shows when user wants to user add to favorites functionality without being logged in -->

<div class="modal fade" id="loginmodal" tabindex="-1" aria-labelledby="loginmodal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-body">
            <p class="mb-4">Create an account or login to start adding our recommendations to your favorites!</p>
            <a class="button" href="{% url 'account_signup' %}">Sign up</a> 
            <a class="button" href="{% url 'account_login' %}">Sign in</a>
        </div>
        <div class="modal-footer">
            <button type="button" class="button" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>


{% include 'components/social-media/social-media.html' %}

{% include 'components/footer/footer.html' %}
{% endblock %}



{% block postloadjs %}
    {{ block.super }}
    <!-- Initialize tooltip for additional explanation heart icon (Add / remove to favorites ) -->
    
    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });

</script>

{% endblock %}