{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'rooms/css/rooms.css' %}">
{% endblock %}

{% block content %}
{% include 'components/navigation/navbar.html' %}

<!-- Detailed information page about specific room -->

<div class="container">
    <div class="row room-detail">
        <div class="col-12 mb-4">
            <p class="back mt-2"><a href="{% url 'rooms' %}" aria-label="Back to rooms overview"><i class="fas fa-long-arrow-alt-left"></i> Back to rooms</a></p>
            <h1 class="headig mt-4">{{ room }}</h1>
            <p id="room-description"> {{ room.description }}</p>
            <p id="price-info">Price per night for 2 guests: €{{room.price}}</p>
            <p>
                <a href="{% url 'reservation' %}" class="button" aria-label="Link to reservation page">Reserve now!</a>
            </p>
        </div>
        {% for image in room.images.all %}
            <div class="col-12 col-md-4 mt-4 room-images">
                <img class="d-block" src="{{ image.image.url }}" alt="room-image" >
            </div>
        {% endfor %}
    </div>
</div>

{% include 'components/footer/footer.html' %}
{% endblock %}