{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

{% include '../components/navigation/navbar.html' %}
<div class="container account-container">
    <h1 class="heading mb-2">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" class="button account-buttons">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}" class="button">{% trans "Forgot Password?" %}</a>
    </form>
</div>  
{% endblock %}
