/* Reservation page to fill in check-in / check-out */

#reservation {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/media/reservation_hero.jpg");      
}

#reservation-hero-text {
    top: 60%;
}

#reservation-hero-text h1 {
    margin-bottom: 1rem;
}
#reservation-hero-text p {
    margin-bottom: 4rem;
}

#reservation-request-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.reservation-label {
    font-size: 2.5rem;
}

.reservation-input {
    background-color: #aa4e26;
    color: #FFFFEB;
    border: none;
    padding: 0.1rem 0.5rem;
    font-size: 1.8rem;
    text-align: left;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* Reservation detail page  */

.submit-rooms {
    margin-bottom: 2rem;
    width: 100%;
}

.hr {
    border: 0.1rem solid #FCBC49;
    width: 100%;
    margin: 1rem 0;
}

#search-rooms-division {
    border: 0.1rem solid #aa4e26;
}


#sold-out {
    color: #72351a;
}

#room-selection {
    margin: 0;
}

.carousel-item img {
    width: 30rem;
    height: 20rem;
} 

.price {
    font-size: 1.6rem;
    background-color: #FCBC49;
    padding: 0.5rem;
    border-radius: 1rem;
    float: right;
    width: 20vw !important;
    text-align: center;
}

.select-rooms {
    margin-top: 1rem;
    text-align: right;
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: inline-block;
}

.select-rooms label,
.select-rooms input {
    vertical-align: middle;
    margin: 0;
}

input[type='checkbox'] { 
    filter: hue-rotate(185deg);
    height: 2.5rem;
    width: 2.5rem;
}

.show {
    background: rgba(0, 0, 0, 0.5);
}

.room-description h2 a {
    color: inherit;
}

.modal-body {
    white-space: pre-line;
}

.modal-close {
    color: #aa4e26;
}
.modal-close span {
    font-size: 3rem;
}

.modal-close:hover {
    color: #72351a;
}

.room-detail button {
    font-size: 1.6rem;
}

/* Media Query that implements horizontal scroll depending on heigth */

@media (min-height: 320px) {
    #reservation {
    overflow-y: scroll;   
    }
    #reservation-hero-text {
    top: 95%;
    }
}

@media (min-height: 530px) {
    #reservation {
    overflow-y: hidden;   
    }
    #reservation-hero-text {
    top: 60%;
    }
}