<div class="container-fluid social-container">
    <div class="row">
        <div class="col-12 social-body">
            <h4>Follow us on social media and stay up to date with the lastest news!</h4>
            <h5>And don't forget to have a look on Tripadvidor what other guests have to say...</h5>
            <p class="social-links">
                <a href="https://www.facebook.com/casapedranobre" target="_blank" rel="noopener" aria-label="Go to Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/casa.pedra.nobre/" target="_blank" rel="noopener" aria-label="Go to Instagram"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.tripadvisor.com/Hotel_Review-g663836-d8537027-Reviews-Casa_Pedra_Nobre_B_B-Caldas_da_Rainha_Leiria_District_Central_Portugal.html" aria-label="Go to Tripadvisor" target="_blank" rel="noopener"><i class="fab fa-tripadvisor"></i></a>
            </p>
        </div>
    </div>
</div>

